<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/styles/home.css">
    <script defer src="/scripts/home.js"></script>
</head>
<body>
    <main>
    <h1>Hello, <span id="user">User</span>!</h1>
    </main>
</body>
</html>